# คัดลอกเป็น .env แล้วแก้ค่าตามเครื่อง
CI_ENVIRONMENT = development
app.baseURL = 'http://localhost/spd-ci4/public/'
app.indexPage = ''
database.default.hostname = localhost
database.default.database = spd
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_general_ci
